@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    color: white;
    background-color: black;
  }
}
h1{
 @apply text-3xl font-bold
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two" !important;
  font-weight: 700;
  font-style: italic;
}

.cookie-font {
  font-family: "Cookie", cursive;
  font-weight: 700;
  font-style: italic;
}

